# MANAGED BY PYPPET
<LoadPlugin df>
  Globals false
</LoadPlugin>

<% eval(@partitions).each do |partition,data| -%>
<% if data['mount'] == '/' %>
<Plugin "df">
  Device "/dev/<%= partition %>"
  MountPoint "/"
  FSType "<%= data['filesystem'] %>"
  IgnoreSelected false
  ReportReserved true
  ReportInodes false
</Plugin>
<% end %>
<% end -%>

